.input-grouping {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.input-grouping.input-grouping-textarea {
  width: 100%;
}
.input-grouping * {
  text-align: left;
  white-space: pre-line;
}
.input-label {
  margin-bottom: -0.1rem;
  font-family: var(--font-1);
  font-size: 1.4rem;
  color: var(--clr-grey-lighter);
  text-transform: uppercase;
}
.input-displayText {
  white-space: pre-wrap;
}
.input-displayText:not(.input-displayEmphasis) {
  letter-spacing: 0.2rem;
}
.input-displayEmphasis {
  margin-top: 0.4rem;
  font-family: var(--font-3);
  font-size: 3.5rem;
}
.input-grouping select {
  font-size: 0.75em;
}
@media only screen and (min-width: 600px) {
  .input-displayEmphasis {
    font-size: 4rem;
  }
  .input-grouping select {
    font-size: inherit;
  }
}
