.addresses-header {
  margin-bottom: 0;
}
.addresses-editButton {
  margin: -0rem auto 2.5rem;
}
.addresses-wrapper {
  --grid-gap-thin: 1px;
  --grid-gap-thick: 2px;
  margin: auto;
  width: max-content;
  max-width: 100%;
  border: 4px double var(--clr-grey-light);
}
.addresses-headingWrapper {
  text-transform: uppercase;
  font-family: var(--font-1);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--clr-white-2);
}
.addresses-headingField:not(:first-of-type):not(:last-of-type) {
  padding: 1rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  white-space: nowrap;
}

.addresses-groupWrapper {
  display: grid;
  grid-template-columns: 3fr 3rem 3rem 5fr;
  gap: var(--grid-gap-thin);
  background: var(--clr-grey-light);
}
.addresses-groupWrapper:not(:first-of-type) {
  /* margin-bottom: var(--grid-gap-thick); */
  border-top: var(--grid-gap-thick) solid var(--clr-grey-light);
}

.addresses-fieldGrouping {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--grid-gap-thin);
  font-size: 1.2rem;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (min-width: 500px) {
  .addresses-fieldGrouping {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 600px) {
  .addresses-headingWrapper {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
  .addresses-groupWrapper {
    grid-template-columns: 1fr 4rem 4rem 2fr;
  }
  .addresses-fieldGrouping {
    font-size: 2rem;
  }
}

/* BACKGROUND COLORS START */
.addresses-fieldWrapper {
  padding: 0.35rem;
  height: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-pri);
}
.addresses-fieldWrapper:not(.addresses-headingField):not(.addresses-cell) {
  justify-content: start;
}
@media only screen and (min-width: 600px) {
  .addresses-fieldWrapper:not(.addresses-headingField):not(.addresses-cell) {
    justify-content: center;
  }
}
.addresses-groupWrapper:nth-of-type(odd):not(.addresses-headingWrapper)
  .addresses-fieldWrapper {
  background: var(--clr-white-2);
}
.addresses-groupWrapper:nth-of-type(even):not(.addresses-headingWrapper)
  .addresses-fieldWrapper {
  background: var(--clr-white-3);
}

.addresses-groupWrapper
  > .addresses-fieldGrouping
  > .addresses-fieldWrapper.addresses-toggle-on {
  background: var(--clr-green);
}
/* BACKGROUND COLORS END */

/* EDITING UI START */
.addresses-wrapper-editing .addresses-cell {
  flex-direction: column;
  align-items: end;
}
.addresses-textarea {
  margin: 0.3rem 0;
  padding: 0.15rem 0.3rem;
  height: 6ch;
  text-align: left;
}
@media only screen and (min-width: 600px) {
  .addresses-wrapper-editing .addresses-cell {
    flex-direction: row;
    align-items: center;
  }
  .addresses-textarea {
    padding: 0.3rem 0.5rem;
  }
}
.addresses-saveButton {
  margin-left: 0.7rem;
  background: var(--clr-grey-lighter);
}
/* NOTE: this is MAX-width */
@media only screen and (max-width: 600px) {
  .addresses-saveButton {
    margin-left: 0.3rem;
    padding: 0.2rem;
    height: 2.2rem;
    font-size: 1.3rem;
  }
}
/* toggle :hover and :active styles */
.addresses-wrapper-editing .addresses-toggle {
  cursor: pointer;
  transition: background 0.08s;
}
.addresses-wrapper-editing .addresses-toggle:active {
  /* background: var(--clr-green-alpha); */
  border: 1px solid var(--clr-black);
}
@media only screen and (hover: hover) {
  .addresses-wrapper-editing .addresses-fieldWrapper.addresses-toggle:hover {
    /* background: var(--clr-green-alpha); */
    border: 1px solid var(--clr-black);
  }
  .addresses-wrapper-editing .addresses-fieldWrapper.addresses-toggle:active {
    /* background: var(--clr-green); */
    border: 1.5px solid var(--clr-black);
  }
}

/* EDITING UI END */
