.addresses-wrapper {
  --grid-gap-thin: 1px;
  --grid-gap-thick: 0.14rem;
  margin: auto;
  max-width: 40rem;
  background: var(--clr-grey-lighter);
  border: 3px solid var(--clr-grey-lighter);
  border-radius: 6px;
  overflow: hidden;
}
.addresses-groupWrapper {
  display: grid;
  grid-template-columns: 1fr 2rem 2rem 2fr;
  gap: var(--grid-gap-thin);
  background: var(--clr-grey-lighter);
}
.addresses-groupWrapper:not(:last-of-type) {
  margin-bottom: var(--grid-gap-thick);
}

.addresses-fieldGrouping {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--grid-gap-thin);
  white-space: pre;
}
.addresses-fieldGrouping-address {
  font-size: 0.9em;
}

.addresses-fieldWrapper {
  padding: 0.35rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-black);
}
.addresses-groupWrapper:nth-of-type(odd):not(.addresses-headingWrapper)
  .addresses-fieldWrapper {
  background: var(--clr-grey);
}
.addresses-groupWrapper:nth-of-type(even):not(.addresses-headingWrapper)
  .addresses-fieldWrapper {
  background: var(--clr-grey-light);
}

.addresses-headingWrapper {
  font-weight: bold;
}
.addresses-headingField:not(:first-of-type):not(:last-of-type) {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  white-space: nowrap;
}

.addresses-groupWrapper
  > .addresses-fieldGrouping
  > .addresses-fieldWrapper.addresses-toggle-on {
  background: var(--clr-green);
}

/* EDITING UI */

.addresses-textarea {
  padding: 0.1rem;
  text-align: left;
}
/* toggle :hover and :active styles */
.addresses-wrapper-editing .addresses-toggle {
  cursor: pointer;
}
.addresses-wrapper-editing .addresses-toggle:active {
  background: var(--clr-green-alpha);
}
@media only screen and (hover: hover) {
  .addresses-wrapper-editing .addresses-fieldWrapper.addresses-toggle:hover {
    background: var(--clr-green-alpha);
  }
  .addresses-wrapper-editing .addresses-fieldWrapper.addresses-toggle:active {
    background: var(--clr-green);
  }
}
