.admin-toggleAuthButton {
  font-size: 0.7em;
}
.adminAuth-errorsList {
  max-width: 25ch;
}
.adminAuth-error {
  color: crimson;
}
.adminAuth-swapModalButton {
  font-size: 0.7em;
  background: transparent;
  text-decoration: underline;
}
