.dashboard-controls {
  margin-bottom: 2rem;
}
.dashboard-tableTypeButtons {
  margin: 0 auto 1rem;
  max-width: 20rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.dashboard-tablesWrapper {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .dashboard-tableTypeButtons {
    max-width: 25rem;
  }
}
