.dashboard-controls {
  margin: 0.5rem auto;
  max-width: 25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.dashboard-displayButton {
  border: 2px solid transparent;
  transition: all 0.12s;
}
.dashboard-displayButton-active {
  /* border-color: var(--clr-red); */
}
.dashboard-tablesWrapper {
  margin: auto;
  width: max-content;
}
