.table-container {
  margin: auto;
  width: 100%;
}
table {
  --inner-border: 0.5px solid var(--clr-grey-light);
  --cell-width: 3.2rem;
  --cell-height: 3rem;
  margin: 0 auto 0.5rem;
  table-layout: fixed;
  border-spacing: 0;
  border: 3px double var(--clr-grey-light);
  overflow: hidden;
  font-size: 1.4rem;
  color: var(--clr-white-2);
}
@media only screen and (min-width: 600px) {
  table {
    --cell-width: 4rem;
    --cell-height: 3.6rem;
    font-size: 2.2rem;
  }
}

/* SOLO GUEST TABLE START */
.table-container-soloGuest .table-caption,
.table-container-soloGuest thead > tr > th:first-of-type,
.table-container-soloGuest tbody > * > th {
  display: none;
}
.table-container-soloGuest td {
  height: var(--cell-height);
}
/* SOLO GUEST TABLE END */

/* BORDER START */
.table-declined {
  border-color: var(--clr-red);
}

tr > * {
  border: var(--inner-border);
  border-collapse: collapse;
}
/* BORDER END */

.table-caption {
  margin: 0 auto 1.5rem;
  width: max-content;
  border-radius: 0.2rem;
  font-family: var(--font-1);
  font-size: 2.6rem;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.4rem;
}
.table-declinedRsvpCaption {
  padding: 0.3rem 0.5rem;
  background: var(--clr-red);
  color: var(--clr-white-2);
}

/* CELL SIZING START */
thead > tr > th {
  width: var(--cell-width);
}
th {
  padding: 0.5rem;
  font-weight: 500;
  background: var(--clr-pri);
}
tbody > tr > th {
  height: var(--cell-height);
  white-space: nowrap;
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-editing > tbody > tr > th {
  max-width: 14ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (min-width: 600px) {
  tbody > tr > th {
    max-width: max-content;
  }
  .table-editing > tbody > tr > th {
    max-width: max-content;
    overflow: auto;
  }
  .table-rsvp > thead > tr > th {
    width: var(--cell-width);
  }
}
.table-colHeading-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  white-space: nowrap;
}
/* CELL SIZING END */

tbody > tr:nth-of-type(even) {
  background: var(--clr-white-2);
}
tbody > tr:nth-of-type(odd) {
  background: var(--clr-grey-lightest);
}
tfoot > tr > td {
  background: var(--clr-pri);
}
.table-cell-positive {
  background: var(--clr-green);
}
.table-cell-negative {
  background: var(--clr-red);
}

.table-rsvp-total {
  font-weight: bold;
  text-decoration: underline;
}

/* EDITING UI START */
.table-body-editing .table-cell {
  transition: background 0.08s;
  cursor: pointer;
}

.table-body-editing .table-cell:active {
  border-width: 1.5px;
  border-color: var(--clr-black);
}
@media only screen and (hover: hover) {
  .table-body-editing .table-cell:hover {
    border-width: 1.5px;
    border-color: var(--clr-black);
  }
  .table-body-editing .table-cell:active {
    border-width: 2px;
  }
  /* .table-body-editing
    .table-cell:not(.table-cell-positive):not(.table-cell-negative):active {
    background: var(--clr-green-alpha);
  }
  .table-body-editing
    .table-declinedCell:not(.table-cell-positive):not(
      .table-cell-negative
    ):active {
    background: var(--clr-red-alpha);
  }
  .table-body-editing .table-cell-negative:active {
    background: var(--clr-white-3);
  }
  .table-body-editing .table-cell-positive.table-cell-toggle:active {
    background: var(--clr-white-3);
  }
  .table-body-editing .table-cell-positive.table-cell-cycle:active {
    background: var(--clr-red-alpha);
  } */
}

/* .table-body-editing
  .table-cell:not(.table-cell-positive):not(.table-cell-negative):active {
  background: var(--clr-green-alpha);
}
.table-body-editing
  .table-declinedCell:not(.table-cell-positive):not(
    .table-cell-negative
  ):active {
  background: var(--clr-red-alpha);
}
.table-body-editing .table-cell-negative:active {
  background: var(--clr-red-alpha);
}
.table-body-editing .table-cell-positive.table-cell-toggle:active {
  background: var(--clr-green-alpha);
}
.table-body-editing .table-cell-positive.table-cell-cycle:active {
  background: var(--clr-red-alpha);
}
@media only screen and (hover: hover) {
  .table-body-editing
    .table-cell:not(.table-cell-positive):not(.table-cell-negative):hover {
    background: var(--clr-green-alpha);
  }
  .table-body-editing
    .table-cell:not(.table-cell-positive):not(.table-cell-negative):active {
    background: var(--clr-green);
  }

  .table-body-editing
    .table-declinedCell:not(.table-cell-positive):not(
      .table-cell-negative
    ):hover {
    background: var(--clr-red-alpha);
  }
  .table-body-editing
    .table-declinedCell:not(.table-cell-positive):not(
      .table-cell-negative
    ):active {
    background: var(--clr-red);
  }

  .table-body-editing .table-cell-negative:hover {
    background: var(--clr-red-alpha);
  }
  .table-body-editing .table-cell-negative:active {
    background: transparent;
  }

  .table-body-editing .table-cell-positive.table-cell-toggle:hover {
    background: var(--clr-green-alpha);
  }
  .table-body-editing .table-cell-positive.table-cell-toggle:active {
    background: transparent;
  }

  .table-body-editing .table-cell-positive.table-cell-cycle:hover {
    background: var(--clr-red-alpha);
  }
  .table-body-editing .table-cell-positive.table-cell-cycle:active {
    background: var(--clr-red);
  }
} */
/* EDITING UI END */

.dashboard-separator {
  margin: 2.4rem auto 2rem;
  height: 1px;
  width: 80%;
  background: var(--clr-grey-lightest);
}
