.guestCard {
  --border-width: 0.5px;
  --hole-width: 3.7rem;
  --ticket-margin-left: 3rem;
  --inner-border-inset: 5px;
  --inner-border-width: 3px;
  position: relative;
  margin: auto;
  padding: 2rem 2.5rem;
  width: 100%;
  width: 97%;
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
  background: var(--clr-white);
  border: var(--border-width) solid var(--clr-grey-lighter);
}
.guestCard::before {
  content: '';
  position: absolute;
  inset: var(--inner-border-inset);
  background: transparent;
  border: var(--inner-border-width) double var(--clr-pri);
}
.guestCard::after {
  content: '';
  position: absolute;
  top: calc(50% - var(--hole-width) / 2);
  left: calc(-1 * var(--hole-width) / 2 - var(--border-width));
  width: var(--hole-width);
  height: var(--hole-width);
  border: var(--border-width) solid var(--clr-grey-lighter);
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 3rem;
  transform: rotate(-45deg);
  background: linear-gradient(
    to bottom right,
    transparent 50%,
    var(--clr-white-2) 50%
  );
  z-index: 0;
}
@media only screen and (min-width: 600px) {
  .guestCard {
    --hole-width: 5rem;
    --ticket-margin-left: 4rem;
    padding: 2.5rem 3.5rem;
    grid-template-columns: 45% 55%;
  }
}
.guestCard > * {
  z-index: 2;
}

.guestCard-gridCell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.guestCard-horizontalFields {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
@media only screen and (min-width: 600px) {
  .guestCard-horizontalFields {
    gap: 3rem;
  }
}
.guestCard-deleteButton {
  display: none;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  background: var(--clr-red);
  color: var(--clr-white-2);
}
.guestCard-editing .guestCard-deleteButton {
  display: block;
}
.guestCard-deleteButton:active {
  background: var(--clr-red-alpha);
}
@media only screen and (hover: hover) {
  .guestCard-deleteButton:active {
    background: var(--clr-red);
  }
  .guestCard-deleteButton:hover {
    background: var(--clr-red-alpha);
  }
}
