.guestCard {
  position: relative;
  padding: 2rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background: var(--clr-white);
  border: 3px dotted var(--clr-black);
  /* background: var(--clr-black); */
  border-radius: 1rem;
  /* color: var(--clr-white-2); */
  color: var(--clr-black);
}
@media only screen and (min-width: 600px) {
  .guestCard {
    grid-template-columns: repeat(2, 1fr);
  }
}

.guestCard-gridCell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.guestCard-horizontalFields {
  display: flex;
  gap: 3rem;
}
.guestCard-deleteButton {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 4rem;
  height: 4rem;
  font-size: 1.2em;
  background: var(--clr-red);
  color: var(--clr-white-2);
}
.guestCard-deleteButton:active {
  background: var(--clr-red-alpha);
}
@media only screen and (hover: hover) {
  .guestCard-deleteButton:active {
    background: var(--clr-red);
  }
  .guestCard-deleteButton:hover {
    background: var(--clr-red-alpha);
  }
}
