.guestCard {
  --border-width: 0.5px;
  --hole-width: 3.7rem;
  --ticket-margin-left: 3rem;
  --inner-border-inset: 5px;
  --inner-border-width: 3px;
  position: relative;
  padding: 2rem 2.5rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background: var(--clr-white);
  border: var(--border-width) solid var(--clr-grey-lighter);
}
.guestCard::before {
  content: '';
  position: absolute;
  inset: var(--inner-border-inset);
  background: transparent;
  border: var(--inner-border-width) double var(--clr-pri);
}
@media only screen and (min-width: 600px) {
  .guestCard {
    --hole-width: 5rem;
    --ticket-margin-left: 4rem;
    padding: 2.5rem 3.5rem;
    grid-template-columns: 1fr 1fr;
  }
}
.guestCard > * {
  z-index: 1;
}

.guestCard-gridCell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.guestCard-horizontalFields {
  display: flex;
  gap: 3rem;
}
.guestCard-deleteButton {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 4rem;
  height: 4rem;
  font-size: 1.2em;
  background: var(--clr-red);
  color: var(--clr-white-2);
}
.guestCard-deleteButton:active {
  background: var(--clr-red-alpha);
}
@media only screen and (hover: hover) {
  .guestCard-deleteButton:active {
    background: var(--clr-red);
  }
  .guestCard-deleteButton:hover {
    background: var(--clr-red-alpha);
  }
}
