.addresses-wrapper {
  --grid-gap-thin: 1px;
  --grid-gap-thick: 0.13rem;
  margin: auto;
  max-width: 50rem;
  background: var(--clr-grey-lighter);
  border: 4px solid var(--clr-grey-dark);
}
.addresses-groupWrapper {
  display: grid;
  grid-template-columns: 1fr 2rem 2rem 2fr;
  gap: var(--grid-gap-thin);
  background: var(--clr-grey-light);
}
.addresses-groupWrapper:not(:last-of-type) {
  margin-bottom: var(--grid-gap-thick);
}
.addresses-fieldGrouping {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--grid-gap-thin);
  white-space: pre;
}
.addresses-fieldWrapper {
  padding: 0.25rem 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-grey-dark);
}

.addresses-headingWrapper {
  font-weight: bold;
}
.addresses-headingField:not(:last-of-type) {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  white-space: nowrap;
}

.addresses-toggle-on {
  background: var(--clr-green);
}
