.cardstock-outerContainer {
  padding: 0.5rem;
  width: 100%;
  background: var(--clr-white-2);
  color: var(--clr-pri);
}
.cardstock-innerContainer {
  padding: 4rem 1.2rem;
  width: 100%;
  background: var(--clr-white-2);
  /* border: 0.5rem solid var(--clr-white-2); */
  border: 0.3rem solid var(--clr-grey-lighter);
  /* border: .5rem solid var(--clr-pri); */
}
