.cardstock-wrapper {
  position: relative;
}
.cardstock-wrapper::before {
  --flag-width: 7rem;
  content: '';
  position: absolute;
  left: calc(50% - var(--flag-width) / 2);
  bottom: 2rem;
  width: var(--flag-width);
  height: calc(var(--flag-width) * 0.83984375);
  background-image: url('../assets/white-star-line.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
}
@media only screen and (min-width: 500px) {
  .cardstock-wrapper::before {
    --flag-width: 8rem;
  }
}
.cardstock-outerContainer {
  --corner-margin: 2px;
  --corner-size: 8rem;
  position: relative;
  padding: 0.5rem;
  width: 100%;
  background: var(--clr-white-2);
  color: var(--clr-pri);
}
.cardstock-innerContainer {
  position: relative;
  padding: 4rem 0.7rem 10rem;
  width: 100%;
  background: var(--clr-white-2);
  border: 0.3rem double var(--clr-grey-lighter);
}

/* CORNERS START */
.cardstock-outerContainer::before {
  content: '';
  position: absolute;
  bottom: calc(var(--corner-margin) + 0.8rem);
  left: calc(var(--corner-margin) + 0.8rem);
  width: var(--corner-size);
  height: var(--corner-size);
  font-size: 3rem;
  background: url(../assets/corners/corner_bottomLeft.png);
  background-size: contain;
  z-index: 1;
}
.cardstock-outerContainer::after {
  content: '';
  position: absolute;
  bottom: calc(var(--corner-margin) + 0.8rem);
  right: calc(var(--corner-margin) + 0.8rem);
  width: var(--corner-size);
  height: var(--corner-size);
  font-size: 3rem;
  background: url(../assets/corners/corner_bottomRight.png);
  background-size: contain;
  z-index: 1;
}
.cardstock-innerContainer::before {
  content: '';
  position: absolute;
  top: var(--corner-margin);
  left: var(--corner-margin);
  width: var(--corner-size);
  height: var(--corner-size);
  font-size: 3rem;
  background: url(../assets/corners/corner_topLeft.png);
  background-size: contain;
}
.cardstock-innerContainer::after {
  content: '';
  position: absolute;
  top: var(--corner-margin);
  right: var(--corner-margin);
  width: var(--corner-size);
  height: var(--corner-size);
  font-size: 3rem;
  background: url(../assets/corners/corner_topRight.png);
  background-size: contain;
}
/* CORNERS END */

@media only screen and (min-width: 450px) {
  .cardstock-outerContainer {
    --corner-size: 10rem;
  }
  .cardstock-innerContainer {
    padding: 6rem 2rem 10rem;
  }
}
@media only screen and (min-width: 600px) {
  .cardstock-outerContainer {
    --corner-size: 13rem;
  }
}
