.error404 {
  margin: 4.5rem 1rem -2.5rem;
  color: var(--clr-red);
}
.error-type {
  margin-bottom: 0;
}
.error-link {
  margin: 3rem auto 0;
  width: max-content;
  display: block;
  color: var(--clr-pri);
}
@media only screen and (min-width: 600px) {
  .error404 {
    margin: 1rem 1rem 0.5rem;
  }
}
