.error404 {
  margin: 1rem;
  color: red;
}
.error404 > a {
  margin: 0.7rem auto;
  width: max-content;
  display: block;
  color: var(--clr-white-2);
  text-decoration: underline;
}
.error404 > a:hover {
  color: var(--clr-grey-lightest);
}
