.home-invitedText {
  font-family: var(--font-1);
  text-transform: uppercase;
}
.home-invitedText:first-of-type {
  margin: 0rem 3rem;
}
.home-invitedText,
.home-detailsText {
  /* margin: 1rem 0; */
  font-size: 1.1em;
  letter-spacing: 0.15rem;
}
.home-transitionText {
  margin: 0.5rem auto;
  font-size: 0.9em;
  font-style: italic;
  color: var(--clr-grey-lighter);
}
.home-transitionTextPreNames {
  margin-bottom: 3.3rem;
}
.home-name {
  font-size: 5rem;
  font-family: var(--font-3);
  line-height: 1;
}
.home-transitionTextPostNames {
  margin-top: 1.8rem;
}
.home-detailsText {
  font-family: var(--font-1);
  text-transform: uppercase;
}

.home-separator {
  margin: 2rem auto;
  width: 82%;
  height: 1px;
  background: var(--clr-grey-lightest);
}

.home-bodyText {
  margin: 1rem auto;
  font-style: italic;
  /* color: var(--clr-grey-lighter); */
  font-size: 1.8rem;
}

.home-imgsRow {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}
.home-imgContainer {
  position: relative;

  width: 100%;
  max-width: 50%;
}
/* The below makes them the same height while maintaining
their individual aspect ratios */
.home-imgContainer:first-of-type {
  /* flex: 0.6721; */
}
.home-imgContainer:last-of-type {
  /* flex: 0.7546; */
}
.home-imgContainer > img {
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: 3px solid var(--clr-grey-lighter);
  object-fit: cover;
  /* object-position: left center; */
  /* box-shadow: 0rem 0rem 1rem 0rem var(--clr-grey-lighter); */
}

@media only screen and (min-width: 600px) {
  .home-invitedText:first-of-type {
    margin: 2.2rem 3rem 0;
  }
  .home-invitedText,
  .home-detailsText {
    font-size: 1.1em;
  }
  .home-transitionText {
    margin: 1rem auto;
    font-size: 1em;
  }
  .home-transitionTextPreNames {
    margin-bottom: 4.7rem;
  }
  .home-name {
    font-size: 8rem;
  }
  .home-transitionTextPostNames {
    margin-top: 2.8rem;
  }
  .home-imgsRow {
    margin: 3rem 5rem;
    gap: 3rem;
  }
}

/* .6721  1.4879  */
/* .7546  1.3252 */
