.hotel-imgContainer {
  margin: 0 auto 0rem;
  width: 100%;
  /* border: 3px solid var(--clr-grey-lighter); */
  border: 5px solid var(--clr-white-2);
  border-bottom: none;
}
.hotel-img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  cursor: pointer;
  object-fit: cover;
  /* border: 3px solid var(--clr-grey-lighter); */
  border: 3px solid var(--clr-pri);
}
.hotel-name {
  font-family: var(--font-1);
  font-size: 2.5rem;
  text-transform: uppercase;
}
.hotel-address {
  font-size: 0.9em;
  font-family: var(--font-2);
  letter-spacing: 0.35rem;
  /* color: var(--clr-grey-lighter); */
}
@media only screen and (min-width: 600px) {
  .hotel-imgContainer {
    width: 100%;
  }
  .hotel-address {
    letter-spacing: 0.4rem;
  }
}

.hotel-infoGroup {
  margin: 3rem 1.5rem 0;
}
.hotel-infoGroup > * {
  margin-left: 0;
  text-align: left;
}
.hotel-infoLabel {
  font-family: var(--font-2);
  font-size: 0.9em;
}
.hotel-info {
  margin: 0rem 0 0.3rem;
  font-family: var(--font-1);
  font-weight: bold;
  text-transform: uppercase;
}
.hotel-list {
  margin: 0.5rem 0 0.8rem;
}
.hotel-infoListItem {
  position: relative;
  margin-left: 2rem;
  font-family: var(--font-2);
  font-size: 0.9em;
  list-style: none;
  letter-spacing: 0.2rem;
  text-align: left;
}
.hotel-infoListItem:not(:last-of-type) {
  margin-bottom: 1.2rem;
}
.hotel-infoListItem::before {
  content: '•';
  position: absolute;
  top: -0.3rem;
  left: -2rem;
  font-size: 2.5rem;
}
.hotel-infoEmphasis {
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.hotel-infoDescription {
  font-size: 0.75em;
  font-style: italic;
  letter-spacing: 0.2rem;
  color: var(--clr-grey-lighter);
}
@media only screen and (min-width: 600px) {
  .hotel-infoGroup {
    margin: 2.5rem 5rem 0;
  }
}

.hotel-separator {
  margin: 5rem auto;
  width: 85%;
  height: 1px;
  background: var(--clr-grey-lighter);
}

.hotel-additionalInfo {
  padding: 0 1.5rem;
  font-size: 0.75em;
  letter-spacing: 0.2rem;
}
