.navbar-link {
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
}
.navbar-linkLastLetter {
  letter-spacing: 0rem;
}
.navbar-link-active {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: inherit;
}
.navbar-names {
  line-height: 1;
  font-family: var(--font-3);
  cursor: pointer;
}
.navbar-details {
  cursor: pointer;
}
.navbar-separator {
  margin: auto;
  width: 100%;
  max-width: 65rem;
  height: 0.3px;
  background: var(--clr-grey-lightest);
}
/* MOBILE NAV START */
.navbar-wrapper-full {
  display: none;
}

.hamburger-topBar {
  --corner-margin: 3px;
  --corner-size-top: 5.8rem;
  position: relative;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger-topBar::before,
.hamburger-topBar::after {
  display: none;
}
.hamburger-topBar::before {
  content: '';
  position: absolute;
  top: var(--corner-margin);
  left: var(--corner-margin);
  width: var(--corner-size-top);
  height: var(--corner-size-top);
  font-size: 3rem;
  background: url(../assets/corners/corner_topLeft.png);
  background-size: contain;
  filter: grayscale(100) brightness(0) invert(0.922);
}
.hamburger-topBar::after {
  content: '';
  position: absolute;
  top: var(--corner-margin);
  right: var(--corner-margin);
  width: var(--corner-size-top);
  height: var(--corner-size-top);
  font-size: 3rem;
  background: url(../assets/corners/corner_topRight.png);
  background-size: contain;
  filter: grayscale(100) brightness(0) invert(0.922);
}
.hamburger-names {
  margin-top: 0.4rem;
  font-size: 2.8rem;
}
.navbar-wrapper-hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.hamburger-button {
  padding-top: 0.3rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  transform: rotate(-90deg);
  background: transparent;
  color: var(--clr-white-2);
}
.hamburger-topBarFiller {
  width: 5rem;
}

.hamburger-overlay {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  background-color: transparent;
  transition: all 0.5s;
}
.hamburger-overlay-visible {
  visibility: visible;
  background-color: rgb(20, 20, 20, 0.6);
}
.hamburger-wrapper {
  position: absolute;
  top: 0;
  left: calc(-1 * 100vw * 2);
  transition: all 0.5s;
}
.hamburger-wrapper-visible {
  left: 0;
}

.hamburger-nav-container {
  width: max-content;
  height: 100vh;
  text-align: left;
  background: var(--clr-grey);
}
.hamburger-closeButton {
  margin: 0.3rem 0.5rem 0;
  font-size: 1.5em;
  background: var(--clr-grey);
  color: var(--clr-white-2);
}
.hamburger-nav {
  padding: 0.5rem 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* MOBILE NAV END */

/* DESKTOP NAV START */
@media only screen and (min-width: 600px) {
  .hamburger-topBarWrapper {
    display: none;
  }
  .navbar-wrapper-hamburger {
    display: none;
  }
  .navbar-wrapper-full {
    --corner-margin: 5px;
    --corner-size-top: 15rem;
    position: relative;
    padding: 3rem 2rem 0 2rem;
    min-height: 5ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* background: var(--clr-red); */
  }
  .hamburger-names {
    display: none;
  }
  .navbar-names {
    line-height: 1;
    font-family: var(--font-3);
    font-size: 6rem;
  }
  .hamburger-separator {
    display: none;
  }
  .navbar-separator {
    margin: auto;
    width: 86%;
    max-width: 65rem;
    height: 0.5px;
    background: var(--clr-grey-lightest);
  }
  .navbar-details {
    margin-bottom: 2rem;
    font-family: var(--font-1);
    font-weight: bold;
    text-transform: uppercase;
  }
  nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
  }

  .navbar-wrapper-full::before {
    content: '';
    position: absolute;
    top: var(--corner-margin);
    left: var(--corner-margin);
    width: var(--corner-size-top);
    height: var(--corner-size-top);
    font-size: 3rem;
    background: url(../assets/corners/corner_topLeft.png);
    background-size: contain;
    filter: grayscale(100) brightness(0) invert(0.922);
  }
  .navbar-wrapper-full::after {
    content: '';
    position: absolute;
    top: var(--corner-margin);
    right: var(--corner-margin);
    width: var(--corner-size-top);
    height: var(--corner-size-top);
    font-size: 3rem;
    background: url(../assets/corners/corner_topRight.png);
    background-size: contain;
    filter: grayscale(100) brightness(0) invert(0.922);
  }
}
/* DESKTOP NAV END */
