.navbar-wrapper-full {
  display: none;
}
.navbar-wrapper-hamburger {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 2;
}
.hamburger-button {
  margin: 0.5rem 1rem;
  padding: 0.2rem 0.7rem 0.2rem 0.4rem;
  min-height: 3.5rem;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  letter-spacing: -0.3rem;
  transform: rotate(-90deg);
  background: var(--clr-red);
  color: var(--clr-white-2);
}
.hamburger-overlay {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  background-color: transparent;
  transition: all 0.5s;
}
.hamburger-overlay-visible {
  visibility: visible;
  background-color: rgb(20, 20, 20, 0.6);
}
.hamburger-wrapper {
  position: absolute;
  top: 0;
  left: calc(-1 * 100vw * 2);
  transition: all 0.5s;
}
.hamburger-wrapper-visible {
  left: 0;
}
.hamburger-nav-container {
  width: max-content;
  height: 100vh;
  text-align: left;
  background: var(--clr-grey);
}
.hamburger-closeButton {
  margin: 0.3rem 0.5rem 0;
  font-size: 1.5em;
  background: var(--clr-grey);
  color: var(--clr-white-2);
}
.hamburger-nav {
  padding: 0.5rem 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (min-width: 600px) {
  .navbar-wrapper-full {
    padding: 3rem 2rem;
    min-height: 5ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* background: var(--clr-red); */
  }
  .navbar-wrapper-hamburger {
    display: none;
  }
  nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    /* letter-spacing: -0.2rem; */
  }
}
