.schedule-eventWrapper {
  margin: auto;
  padding-bottom: 2rem;
  max-width: 50ch;
  font-size: 0.9em;
  background: var(--clr-white-2);
  color: var(--clr-pri);
}
.schedule-eventDate {
  position: relative;
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-family: var(--font-3);
  font-size: 4.5rem;
  /* font-weight: 400; */
  /* text-decoration: underline; */
  /* text-transform: uppercase; */
  color: var(--clr-white-2);
  background: var(--clr-pri);
}
.schedule-eventWrapper:first-of-type .schedule-eventDate {
  margin-top: -1rem;
}
.schedule-eventDate::before {
  content: '';
  position: absolute;
  bottom: 2rem;
  width: 13ch;
  height: 1px;
  background: var(--clr-white-2);
}
.schedule-eventTitle {
  padding-top: 1.5rem;
  font-family: var(--font-1);
  font-size: 3rem;
  font-weight: 400;
  /* color: var(--clr-red); */
  text-transform: uppercase;
}
.schedule-eventDetails {
  margin: 1rem 0;
}
.schedule-eventDetails > p:first-of-type {
  /* margin-bottom: 1rem; */
  text-decoration: underline;
}
.schedule-calendarButtonWrapper {
  margin: auto;
  width: max-content;
}
.schedule-eventDescription {
  margin: auto;
  padding: 0 1.5rem;
  text-align: left;
  max-width: 60ch;
  font-size: 0.89em;
  color: var(--clr-grey-light);
}
.schedule-eventDescription:not(:last-of-type) {
  margin-bottom: 1rem;
}
