table {
  margin: 1rem auto;
  table-layout: fixed;
  font-size: 0.9rem;
  border-collapse: collapse;
  border: 4px solid var(--clr-grey-dark);
}
table > caption {
  margin-left: 0rem;
  margin-bottom: 1rem;
  margin: 1rem 0 1rem 0;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  text-transform: uppercase;
}
th,
td {
  padding: 0.3rem;
  border: 2px solid var(--clr-grey-lighter);
}
th {
  background: var(--clr-grey-dark);
}
.table-rsvp > thead > tr > th {
  width: 8%;
}
@media only screen and (min-width: 600px) {
  .table-rsvp > thead > tr > th {
    width: min-content;
  }
}
.table-rsvp > thead > tr > th > .table-colHeading-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  white-space: nowrap;
}
tbody > tr:nth-of-type(even) {
  background: var(--clr-grey-light);
}
tfoot > tr > td {
  background: var(--clr-grey-dark);
}

.table-cell-positive {
  background: var(--clr-green);
}
.table-cell-negative {
  background: var(--clr-red);
}

/* EDITING UI */
.table-editing .table-cell {
  cursor: pointer;
}

.table-editing
  .table-cell:not(.table-cell-positive):not(.table-cell-negative):active {
  background: var(--clr-green-alpha);
}
.table-editing
  .table-declinedCell:not(.table-cell-positive):not(
    .table-cell-negative
  ):active {
  background: var(--clr-red-alpha);
}
.table-editing .table-cell-negative:active {
  background: var(--clr-red-alpha);
}
.table-editing .table-cell-positive.table-cell-toggle:active {
  background: var(--clr-green-alpha);
}
.table-editing .table-cell-positive.table-cell-cycle:active {
  background: var(--clr-red-alpha);
}
@media only screen and (hover: hover) {
  .table-editing
    .table-cell:not(.table-cell-positive):not(.table-cell-negative):hover {
    background: var(--clr-green-alpha);
  }
  .table-editing
    .table-cell:not(.table-cell-positive):not(.table-cell-negative):active {
    background: var(--clr-green);
  }

  .table-editing
    .table-declinedCell:not(.table-cell-positive):not(
      .table-cell-negative
    ):hover {
    background: var(--clr-red-alpha);
  }
  .table-editing
    .table-declinedCell:not(.table-cell-positive):not(
      .table-cell-negative
    ):active {
    background: var(--clr-red);
  }

  .table-editing .table-cell-negative:hover {
    background: var(--clr-red-alpha);
  }
  .table-editing .table-cell-negative:active {
    background: transparent;
  }

  .table-editing .table-cell-positive.table-cell-toggle:hover {
    background: var(--clr-green-alpha);
  }
  .table-editing .table-cell-positive.table-cell-toggle:active {
    background: transparent;
  }

  .table-editing .table-cell-positive.table-cell-cycle:hover {
    background: var(--clr-red-alpha);
  }
  .table-editing .table-cell-positive.table-cell-cycle:active {
    background: var(--clr-red);
  }
}
