.rsvp-formWrapper {
  display: flex;
  border: 1px solid pink;
}
.rsvp-formWrapper > * {
  width: 50%;
  border: 1px solid green;
}
.rsvp-eventWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rsvp-fieldsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rsvp-buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.rsvp-button {
  width: 5ch;
  border: 1px solid white;
}
.rsvp-button-disabled {
  pointer-events: none;
}
.rsvp-button-selected {
  background: var(--clr-white);
  color: var(--clr-dark);
}
