/* RSVP AUTH START */
.rsvpAuth-instructions {
  max-width: 55ch;
}
.rsvpAuth-inputAndButtonWrapper {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.rsvpAuth-nameInput {
  padding: 0.5rem 0.7rem;
  width: 65%;
  max-width: 20ch;
}
.rsvpAuth-error {
  color: var(--clr-red);
}
/* RSVP AUTH END */

.rsvp-instructions {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9em;
}

.rsvp-formWrapper {
  --border-width: 0.5px;
  --hole-width: 3.5rem;
  --ticket-margin-left: 3rem;
  --inner-border-inset: 5px;
  --inner-border-width: 3px;
  --hole-cushion-width: calc(
    var(--hole-width) + var(--inner-border-inset) * 2 +
      var(--inner-border-width) * 2
  );
  position: relative;
  margin: 0rem auto;
  display: grid;
  grid-template-columns: 1fr;
  width: 95%;
  max-width: 60rem;
  background: var(--clr-white);
  border: var(--border-width) solid var(--clr-grey-lighter);
  border-radius: 1rem;
  /* box-shadow: 0 0 7px 0.5px var(--clr-grey-lighter); */
}
.rsvp-formWrapper::before {
  content: '';
  position: absolute;
  inset: var(--inner-border-inset);
  background: transparent;
  border: var(--inner-border-width) double var(--clr-pri);
  border-radius: 0.8rem;
}
@media only screen and (min-width: 600px) {
  .rsvp-formWrapper {
    --hole-width: 5rem;
    --ticket-margin-left: 4rem;
    width: 100%;
    grid-template-columns: 7fr 4fr;
  }
  .rsvp-formWrapper-address {
    grid-template-columns: 1fr 1fr;
  }
}

/* LEFT SIDE START */
.rsvp-eventWrapper {
  position: relative;
  margin: 2.6rem 1rem 2.6rem var(--ticket-margin-left);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.4rem;
}
.rsvp-eventWrapper::before {
  content: '';
  position: absolute;
  top: calc(50% - var(--hole-width) / 2);
  left: calc(
    -1 * var(--hole-width) / 2 - var(--ticket-margin-left) - var(--border-width)
  );
  width: var(--hole-width);
  height: var(--hole-width);
  border: var(--border-width) solid var(--clr-grey-lighter);
  border-top-color: var(--clr-white-2);
  border-left-color: var(--clr-white-2);
  border-radius: 3rem;
  transform: rotate(-45deg);
  background: var(--clr-white-2);
  z-index: 3;
}
/* .rsvp-eventWrapper::after {
  content: '';
  position: absolute;
  left: calc(-1 * var(--ticket-margin-left) + var(--inner-border-inset));
  top: calc(-2.6rem + var(--inner-border-inset));
  width: calc(100% + var(--ticket-margin-left));
  height: calc(100% + 2.6rem * 2 - 1rem);
  border: var(--inner-border-width) solid var(--clr-pri);
  border-radius: 0.8rem;
} */

/* .rsvp-eventWrapper::after {
  content: '';
  position: absolute;
  top: calc(50% - var(--hole-cushion-width) / 2);
  left: calc(
    -1 * var(--hole-cushion-width) / 2 - var(--ticket-margin-left) - 1px
  );
  width: var(--hole-cushion-width);
  height: var(--hole-cushion-width);
  border: var(--inner-border-width) solid var(--clr-pri);
  border-top-color: var(--clr-white-2);
  border-left-color: var(--clr-white-2);
  border-radius: calc(
    3rem + var(--inner-border-inset) + var(--inner-border-width)
  );
  transform: rotate(-45deg);
  background: linear-gradient(
    to bottom right,
    var(--clr-white-2) 50%,
    var(--clr-white) 50%
  );
  z-index: 2;
} */
.rsvp-infoLabel {
  margin-bottom: -0.1rem;
  text-align: left;
  font-size: 0.8em;
  color: var(--clr-grey-lighter);
}
.rsvp-infoDetail {
  text-align: left;
}
h2.rsvp-infoDetail {
  margin-right: 1.7rem;
  font-family: var(--font-1);
  font-size: 1.1em;
  text-transform: uppercase;
  /* color: var(--clr-red); */
  border-bottom: 1px solid var(--clr-grey-lightest);
}
.rsvp-infoDetail:not(h2) {
  letter-spacing: 0.2rem;
}
.rsvp-dayTimeWrapper {
  display: flex;
  gap: 2.5rem;
}
.rsvp-addressInstructions {
  font-size: 0.9em;
}
@media only screen and (min-width: 600px) {
  .rsvp-infoLabel {
    font-size: 0.85em;
  }
  .rsvp-infoDetail:not(h2):not(.rsvp-addressInstructions) {
    font-size: 1.1em;
  }
  h2.rsvp-infoDetail {
    font-size: 1.4em;
  }
}
/* LEFT SIDE END */

/* RIGHT SIDE START */
.rsvp-fieldsWrapper {
  position: relative;
  padding: 2.6rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}
.rsvp-fieldsWrapper::before {
  content: '';
  position: absolute;
  top: calc(50% - var(--hole-width) / 2);
  left: calc(-1 * var(--hole-width) / 2 - var(--border-width));
  width: var(--hole-width);
  height: var(--hole-width);
  border: var(--border-width) solid var(--clr-grey-lighter);
  border-top-color: var(--clr-white-2);
  border-left-color: var(--clr-white-2);
  border-radius: 3rem;
  transform: rotate(-45deg);
  background: var(--clr-white-2);
}
.rsvp-fieldsWrapper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  border-top: 2px dotted var(--clr-black);
  border-style: 'e';
}
.rsvp-inputGrouping {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.rsvp-textGrouping > *:first-child {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: end;
}
.rsvp-guestName {
  font-family: var(--font-1);
  /* font-family: var(--font-3); */
  /* font-size: 3rem; */
  font-weight: 400;
  text-transform: uppercase;
}
.rsvp-buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.rsvp-button {
  width: 5ch;
}
.rsvp-button-disabled {
  pointer-events: none;
}
.rsvp-addressAndButtonWrapper {
  margin: auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}
.rsvp-inputAddress {
  margin: auto;
  padding: 0.3rem 0.5rem;
  max-width: 100%;
  width: 23rem;
  height: 8ch;
  font-size: 0.85em;
  text-align: left;
}
.rsvp-addressAndButtonWrapper > .rsvp-button {
  width: 5.5ch;
  text-transform: uppercase;
}
@media only screen and (min-width: 600px) {
  .rsvp-fieldsWrapper::before {
    display: none;
  }
  .rsvp-fieldsWrapper::after {
    left: 0rem;
    top: calc(-1 * var(--border-width));
    height: calc(100% + var(--border-width) * 2);
    width: 0;
    border-left: 3px dotted var(--clr-black);
    border-top: none;
  }
  .rsvp-inputAddress {
    width: 23rem;
  }
}
/* RIGHT SIDE END */

.rsvp-separator {
  margin: 2rem auto;
  width: 90%;
  max-width: 80rem;
  height: 1px;
  background: var(--clr-grey-lightest);
}
