@font-face {
  font-family: 'Hoeffler Text';
  src: local('Hoeffler Text Regular'),
    url('./assets/fonts/Hoefler-Text-Regular.ttf') format('ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Hoeffler Text';
  src: url('./assets/fonts/Hoefler-Text-Black.ttf') format('ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Christmas Calligraphy';
  src: url('./assets/fonts/Christmas-Calligraphy.ttf') format('truetype');
}
@font-face {
  font-family: 'Silian Rail';
  src: url('./assets/fonts/Sillian-rail.otf') format('opentype');
}
@font-face {
  font-family: 'Lovelyn';
  src: url('./assets/fonts/lovelyn-regular.ttf') format('truetype');
}

:root {
  --clr-pri: rgb(26, 23, 84);
  --clr-pri-dark: rgb(15, 13, 48);
  --clr-pri-light: rgb(105, 103, 142);
  --clr-sec: rgb(161, 124, 59);
  --clr-ter: grey;
  --clr-white: white;
  --clr-white-2: rgb(235, 235, 235);
  --clr-white-3: rgb(200, 200, 200);
  --clr-black: black;
  --clr-grey: #242424;
  --clr-grey-dark: rgb(16, 16, 16);
  --clr-grey-light: rgb(81, 81, 81);
  --clr-grey-lighter: rgb(125, 125, 125);
  --clr-grey-lightest: rgb(166, 166, 166);
  --clr-green: rgb(85, 206, 72);
  /* --clr-green-alpha: rgb(50, 205, 50, 0.5); */
  --clr-green-alpha: rgb(150, 225, 142);
  --clr-red: rgb(211, 11, 56);
  /* --clr-red-alpha: rgb(211, 11, 56, 0.7); */
  --clr-red-alpha: rgb(249, 139, 163);
  color: var(--clr-white-2);
  background-color: var(--clr-pri-dark);
  background-image: linear-gradient(
    to bottom,
    var(--clr-pri),
    var(--clr-pri-dark)
  );

  --font-1: 'Hoeffler Text';
  /* --font-1: 'Cardo', serif; */
  /* --font-1: 'Spectral SC', serif; */
  /* --font-1: 'Playfair Display', serif; */
  --font-2: 'Caladea', serif;
  /* --font-2: 'Noto Serif Makasar', serif; */
  /* --font-2: 'Lovelyn'; */
  /* --font-2: 'Silian Rail'; */
  /* --font-2: Gill Sans; */
  --font-3: 'Christmas Calligraphy';
  /* --font-3: 'Ballet', cursive; */
  /* --font-3: 'Dancing Script', cursive; */
  --font-4: 'Lovelyn';
  /* --font-4: 'Silian Rail'; */

  --font-1-old: Palatino, serif;
  --font-2-old: Courier, monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  font-family: var(--font-2);
  font-weight: 500;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
}
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
a {
  color: inherit;
  text-decoration-color: inherit;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 1px;
  transition: all 0.1s;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
  text-decoration-thickness: 2px;
}
.link-onWhite {
  text-underline-offset: 0.2em;
}

button {
  border: 1px solid transparent;
  padding: 0.5rem 0.9rem;
  height: 3.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: var(--clr-grey-lightest);
  color: var(--clr-black);
  cursor: pointer;
  transition: background 0.1s;
}
button:disabled {
  color: var(--clr-grey-lighter);
  cursor: default;
}
button:disabled:hover {
  border-color: transparent;
}
button:focus:not(:focus-visible) {
  outline: none;
}
button:focus:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:active {
  border-color: var(--clr-grey);
}
@media only screen and (hover: hover) {
  button:hover {
    border-color: var(--clr-grey);
  }
  button:active {
    border-width: 1.5px;
  }
}
.button-selected {
  background: var(--clr-pri);
  color: var(--clr-white-2);
}
.button-small {
  /* height: 3.05rem; */
  /* font-size: 1.6rem; */
}

h1 {
  /* margin: 2rem 0; */
  margin: 0 0 1rem;
  left: 0;
  font-family: var(--font-1);
  /* font-family: var(--font-3); */
  font-size: 5rem;
  /* font-size: 7.5rem; */
  text-transform: uppercase;
  /* text-transform: capitalize; */
  /* text-decoration: underline; */
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
  /* background: var(--clr-white-2); */
  /* color: var(--clr-pri); */
}
h1.internalHeader {
  visibility: hidden;
  margin: -5.75rem 0 0;
}
p {
  margin: 0 auto;
  max-width: 60ch;
  word-break: break-word;
}
ul {
  margin: 0 auto;
  max-width: 50ch;
  text-align: left;
  list-style: inside;
}
input {
  text-align: left;
}

.app-contentWrapper {
  margin: 2rem auto;
  padding: 0 1.5rem;
  max-width: 80rem;
}
@media only screen and (min-width: 600px) {
  .app-contentWrapper {
    margin: 2rem auto 5rem;
  }
}
