:root {
  /* --clr-white: rgb(222, 222, 222);
  --clr-black: black;
  --clr-grey: #242424;
  --clr-grey-dark: rgb(16, 16, 16);
  --clr-grey-light: rgb(81, 81, 81);
  --clr-grey-lighter: rgb(125, 125, 125);
  --clr-grey-lightest: rgb(166, 166, 166);
  --clr-green: limegreen;
  --clr-green-alpha: rgb(50, 205, 50, 0.5);
  --clr-red: rgb(213, 0, 0);
  --clr-red-alpha: rgb(213, 0, 0, 0.5);
  color: var(--clr-white);
  background-color: var(--clr-grey); */
  --clr-white: rgb(235, 235, 235);
  --clr-black: black;
  --clr-grey: #242424;
  --clr-grey-dark: rgb(16, 16, 16);
  --clr-grey-light: rgb(81, 81, 81);
  --clr-grey-lighter: rgb(125, 125, 125);
  --clr-grey-lightest: rgb(166, 166, 166);
  --clr-green: limegreen;
  --clr-green-alpha: rgb(50, 205, 50, 0.5);
  --clr-red: rgb(211, 11, 56);
  --clr-red-alpha: rgb(211, 11, 56, 0.5);
  color: var(--clr-black);
  background-color: var(--clr-white);

  --font-1: Palatino;
  --font-2: Courier;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  font-family: var(--font-2);
  font-weight: 500;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  letter-spacing: -0.1rem;
}
a {
  color: var(--clr-white);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3rem 0.5rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--clr-white);
  background-color: var(--clr-grey);
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background 0.1s;
}
button:disabled {
  color: grey;
  cursor: default;
}
button:hover {
  border-color: #646cff;
}
button:focus:not(:focus-visible) {
  outline: none;
}
button:focus:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.button-selected {
  background: var(--clr-red);
  color: var(--clr-white);
}
.button-small {
  font-size: 1.6rem;
}

h1 {
  margin-top: 2rem;
  font-family: var(--font-1);
  font-size: 5rem;
  text-transform: uppercase;
}
p {
  margin: 0 auto;
  max-width: 60ch;
  word-break: break-word;
}
ul {
  margin: 0 auto;
  max-width: 50ch;
  text-align: left;
}
input {
  text-align: left;
}

.app-contentWrapper {
  margin: 0 0.5rem;
}
@media only screen and (min-width: 600px) {
  .app-contentWrapper {
    margin: 0 2rem 2rem;
  }
}
